node_modules/

logs/
*.log

bower_components/

out/
dist/
build/

*.tmp
*.temp
*.swp
*.bak

.cache/
*.cache
*.pid
*.seed

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

.env

*.min.js
*.min.css
*.map

coverage/
